.comment {
    border: 1px solid black;
    background-color:aqua;
    width: 50%;
    padding: 5px;
    margin: 5px;
}

.inline {
    display: in;
    justify-content: space-between;
    align-items: center;
}